<footer>
  <div id="courtesy-navigation" class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-list">
        <li><a id="psu-shield" href="http://psu.edu/"><%= image_tag("#{asset_pack_path 'media/images/PS_HOR_REV_RGB_2C.png'}", alt: "PSU Libraries logo", width: '100', height: '45' ) %></a></li>
        <li class="text"><%= link_to t("#{current_partner.id}.partner.name"), t("#{current_partner.id}.partner.url"), class: 'small', target: '_blank', aria: {label: "link opens in a new tab" } %></li>
        <li class="text"><%= link_to "© #{Time.now.year} The Pennsylvania State University", 'http://www.psu.edu/ur/copyright.html', class: 'small', target: '_blank', aria: {label: "link opens in a new tab" } %></li>
        <li class="text"><%= link_to 'Privacy and Legal Statements', 'http://www.psu.edu/ur/legal.html', class: 'small', target: '_blank', aria: {label: "link opens in a new tab" } %></li>
        <li class="text"><%= link_to 'Accessibility', 'https://www.psu.edu/accessibilitystatement', class: 'small', target: '_blank', aria: {label: "link opens in a new tab" } %></li>
        <li class="text"><%= render_conditional_links %></li>
      </ul>
      <p class="small version text"><span><%= current_version_number %></span></p>
    </div>
  </div>
</footer>
