<div class="row">
  <div class="col-xs-12">
    <h1>Custom Report</h1>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="bulk-actions">
            <h5>Bulk Actions
                <span class="small"><span class="number-of-selected-rows"></span> submissions selected ( <span class="number-of-visible-selected-rows"></span> visible )</span></h5>
        <div class="actions">
          <div class="row">
            <%= button_to 'Export CSV', admin_custom_report_export_path(format: "csv"),
                          method: 'patch',
                          params: {submission_ids: ''},
                          #data: { confirm: "Exporting..." },
                          class: 'btn btn-success csv' %>
          </div>
        </div>
      </div>

      <div id="row-selection-buttons">
        <button class="select-visible-button btn btn-sm btn-light">Select Visible</button>
        <button class="deselect-visible-button btn btn-sm btn-light">Deselect Visible</button>
        <%= select('submission',
                   'semester_year',
                   @semester_list,
                   {},
                   :class=> 'form-control input-sm semester float-right') %>
        <%= select('submission',
                   'degree_type',
                   DegreeType.pluck(:name),
                   {},
                   :class=> 'form-control input-sm degree_type float-right') %>
      </div>
    </div>
</div>

<table id="custom-report-index" class="table table-sm table-striped custom-report-index datatable bulk-actions" data-ajax-url="<%= admin_custom_report_index_path %>" data-default-semester="<%= Semester.current %>">
  <thead>
    <tr>
        <th data-name="id" data-orderable="false">&nbsp;</th><%# for the hidden id %>
        <th data-name="checkbox" data-orderable="false">&nbsp;</th><%# for the checkbox %>
        <th data-name="submission_author" data-orderable="true">Author</th>
        <th data-name="author_psu_idn" data-orderable="true">PSU ID #</th>
        <th data-name="title" data-orderable="true">Title</th>
        <th data-name="degree_type" data-orderable="true">Degree</th>
        <th data-name="program_name" data-orderable="true">Program Name</th>
        <th data-name="access_level" data-orderable="true">Access Level</th>
        <th data-name="submission_status" data-orderable="true">Status</th>
        <th data-name="federal_funding_display" data-ofderable="true">Federal Funding?</th>
        <th data-name="advisor_name" data-orderable="true">Advisor Name</th>
        <th data-name="psu_email_address" data-orderable="true">PSU Email</th>
        <th data-name="alternate_email_address" data-orderable="true">Alternate Email</th>
        <th data-name="academic_program" data-orderable="true">Academic Program</th>
        <th data-name="degree_checkout_status" data-orderable="true">Degree Checkout Status</th>
        <th data-name="notes" data-orderable="false">Notes</th>
    </tr>
  </thead>
</table>
