<div class="row">
  <div id="main-navigation" role="navigation" aria-labelledby="admin-nav">
    <ul class="nav nav-pills nav-stacked">
      <% DegreeType.all.each do |dt| %>
        <li class="<%= admin_degree_active?(params[:degree_type], dt) %>">
          <%= link_to dt.name.pluralize, admin_submissions_dashboard_path(dt.slug), {class: 'btn btn-nav'} %>
        </li>
      <% end %>
      <li class="<%= admin_nav_active?('authors') %>">
        <%= render partial: 'admin/shared/author_navigation.html' %>
      </li>
      <li class="<%= admin_nav_active?('programs') %>">
        <%= link_to 'Programs', admin_programs_path, {class: 'btn btn-nav'} %>
      </li>
      <li class="<%= admin_nav_active?('degrees') %>">
        <%= link_to 'Degrees', admin_degrees_path, {class: 'btn btn-nav'} %>
      </li>
      <li class="<%= admin_nav_active?('reports') %>">
        <div class="dropdown">
          <a href="#" data-toggle="collapse" data-target="#reports_list" class="btn btn-nav dropdown-toggle <%= admin_nav_active?('reports') %>" id='reports_menu'>
            Reports</a>
          <ul class='dropdown-menu' id="reports_list">
            <li class="dropdown-item">
              <%= link_to 'Custom Report', admin_custom_report_index_path, id: 'custom_report' %>
            </li>
            <li class="dropdown-item">
              <%= link_to 'Confidential Hold Report', admin_confidential_hold_report_index_path, id: 'confidential_hold_report' %>
            </li>
          </ul>
        </div>
      </li>
      <li class="<%= admin_nav_active?('approval_configurations') %>">
        <%= link_to 'Approval Configuration', admin_approval_configurations_path, {class: 'btn btn-nav'} %>
      </li>
      <li>
        <%= link_to 'Admin User Guide', 'https://sites.psu.edu/etdinfo/', {class: 'btn btn-nav', target: :_blank} %>
      </li>
    </ul>
  </div>
</div>
