<a class="contact-support-link" href="mailto:<%= I18n.t('service_desk_email_address') %>?subject=Technical%20Support%20for%20<%= submission.author.first_name + ' ' + submission.author.last_name %>%20&body=<%= admin_edit_submission_url(submission.id) %>%0d%0dInclude%20a%20full%20description%20of%20the%20problem%20you%20or%20the%20student%20is%20having:" rel="EMAIL"><span class="fa fa-envelope"></span> Contact Support for this Submission</a>
