<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="/favicon.ico"/>
<head>

  <title>ETDA Admin</title>

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
  <%= stylesheet_pack_tag 'admin', media: 'all'  %>
  <%= javascript_pack_tag 'base' %>
  <%= javascript_pack_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= page_classes %>'>

<%= render 'shared/header' %>

<div id="body-container" class="container-fluid">
  <main>
    <div class="container-fluid">
      <div id="content-row" class="row">
        <div class="col-sm-2 no-print">
          <%= render 'admin/shared/main_navigation' %>
        </div>
        <div class="col-sm-12-print col-sm-8-no-print content-main">
          <%= render partial: 'shared/flash_messages' unless flash.empty? %>

          <%= yield %>

        </div>
      </div>
    </div>
  </main>
</div>

<%= render 'shared/site_footer' %>

</body>
</html>