<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="/favicon.ico"/>
<head>
  <title>ETDA</title>

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">

  <%= stylesheet_pack_tag 'author', media: 'all' %>
  <%= javascript_pack_tag 'base' %>
  <%= javascript_pack_tag 'author' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= page_classes %>">

<%= render 'shared/header' %>

<div id="body-container" class="container-fluid">
  <main>
    <div id="content-container" class="container-fluid">
      <div id="content-row" class="row">
        <%= render partial: 'shared/flash_messages' unless flash.empty? %>

        <%= yield %>

      </div>
    </div>
  </main>
</div>

<%= render 'shared/site_footer' %>
</body>
</html>
